html{
    background: fixed;
    background-color: rgb(147, 170, 214);
}

h1{
    font-size: 54px;
    display: flex;
    justify-content: center;
}

.reset{
    display: flex;
    justify-content: center;
}

button{
    background-color: rgb(110, 133, 110);
    margin: 20px auto;
}

button:hover{
    background-color: rgb(77, 204, 140);
}

p{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: rgb(39, 22, 26);
}

#canvas{
    display: flex;
    justify-content: center;
}

.pixel{
    border : 1px solid black;
    background: white;
}
.pixel:hover{
    background: pink;
}