html{
    background: fixed;
    background-color: rgb(147, 170, 214);
}

h1{
    font-size: 54px;
    display: flex;
    justify-content: center;
}

.reset{
    display: flex;
    justify-content: center;
}

button{
    background-color: rgb(52, 109, 87);
    margin: 15px auto 0px auto;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    font-size: 22px;
    color: honeydew;
}

button:hover{
    background-color: rgb(134, 236, 185);
    color: rgb(1, 32, 119);
}

p{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: rgb(39, 22, 26);
    margin: 0px, auto;
    font-family: Arial, Helvetica, sans-serif;
}

#canvas{
    display: flex;
    justify-content: center;
}

.pixel{
    border : 1px solid rgb(25, 27, 31);
    background: white;
}
.pixel:hover{
    background: rgb(252, 212, 218);
}